.AU_container{
	height:auto;
}

.AU_main{
	/*background: #cccccc;*/
	background-image:url("../img/home2.jpg");
	background-size:100% auto;
	position:relative;
	background-repeat:no-repeat;
	/*opacity:0.5;*/
	height:757px;
	/*filter:alpha(opacity=40);*/
}

.AU_trans {
    height:757px;;
    background-color: #ffffff; 
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.AU_title{
	width:100%;
	height:14%;/*107px;*/
	background:transparent;
	/*font-size:44px;*/
}

.AU_titlep{
	font-size:44px;
	margin:0;
	padding: 3%;
}

.AU_context{
	width:100%;
	height:86%;/*500px;*/
	/*font-size:44px;*/
}

.AU_contextp{
	font-size:24px;
	margin:0;
	padding: 3%;
}
@media screen and (max-width:768px){
	.AU_main{
	background:#cccccc;
	height:757px;
	}
.AU_titlep{
	font-size:35px;
}
.AU_contextp{
	font-size:15px;
}
}

@media screen and (max-width:320px){
	.AU_main{
	background:#cccccc;
	height:500px;
	}
	.AU_trans{
		background:transparent;
		height:500px;
	}
	.AU_titlep{
		font-size:15px;
	}
	.AU_contextp{
		font-size:5px;
	}
}