html{
	margin : 0 auto;
	max-width: 1920px;
	display: block;
}

body {
	margin: 0;
	/*min-height : 700px; 975*/
}

.clear{
	clear : both;
	margin : 0;
}

.clear:after{
	content : "";
	display : block;
	clear : both;
}

.container {
	max-height : 2495px;
	position : relative;
	margin : 0;
}

header {
	width: 100%;
	height: 107px;
	background: white;
}

.title_area {
	display: inline-block;
	float: left;
	margin : 1% 0 0 2%;
	width : 18%;
}

.nav_top {
  	display: inline-block;
  	width : 77%;
}

.nav_top li {
  list-style: none;
	float: right;
	margin : 5% 0 0 6%;
}

.nav_top a {
	display: block;
	color: black;
	font-family: FootLight MT Light;
  font-size: 24px;
	text-decoration: none;
}

.nav_top a:hover {
  	color : pink;
  	text-decoration: none;
}

.vertical_line {
	margin : 3% 0 0 5%;
  height: 60px;
	width: 1px;
	display: inline-block;
	float: right;
	background: black;
}

.btn_log {
	margin : 1% 0 0 5%;
	display: inline-block;
	float: right;
}

#cats_each_main {
	background: #cccccc;
	height: 767px;
}

.cats_adoption1 {
	margin: 15% 0 0 10%;
	background-color: white;
  width: 70%;
  height: 48px;
}

.cats_adoption2 {
	margin: 0 0 0 10%;
	background-color: white;
  width: 70%;
  height: 48px;
}

.cats_adoption1 a {
	text-decoration:none;
}

.cats_adoption2 a {
	text-decoration:none;
}

.cats_adoption1 p {
	display: inline-block;
	font-family: FootLight MT Light;
	color: black;
	margin: 7% 0 0 12%;
}

.cats_adoption2 p {
	display: inline-block;
	font-family: FootLight MT Light;
	color: black;
	margin: 7% 0 0 12%;
}

.horizontal_line {
	margin :  0 0 0 1%;
  height: 1px;
	width: 0px;
	display: block;
	background: black;
}

.cats_each_main_left {
	width: 26%;
	height: 767px;
	display: inline-block;
	float: left;
}

.cats_each_main_right {
	width: 74%;
	height: 767px;
	display: inline-block;
	float: right;
}

.cats_each_cat_img {
	display: inline-block;
	float: left;
	margin :  5% 0 0 5%;
}

.cats_each_cat_introduce {
	display: inline-block;
	float: left;
	width: 445px;
	margin :  2% 0 0 10%;
}

.cats_each_cat_introduce h1 {
	font-size: 50px;
	font-family: FootLight MT Light;
}

.cats_each_cat_introduce p {
	font-size: 30px;
	font-family: FootLight MT Light;
}

.cats_each_cat_introduce button {
	width: 180px;
	height: 60px;
	background: pink;
	font-family: FootLight MT Light;
	font-size: 20px;
	color: white;
	border-radius: 5px;
}

footer {
	width: 100%;
	height : 99px;
}

.footer_p p {
	display: inline-block;
	font-family: FootLight MT Light;
  font-size: 16px;
  line-height : 0px;
  padding : 2% 0 1% 8%;
	margin : 2% 0 0 0;
}

.footer_btn {
  	display: inline-block;
  	float : right;
  	padding : 3% 6% 1% 0;
  	width : 18%;
}

.footer_icon{
	margin : 0 0 0 10%;
	width : 16%;
}

.footer_icon:hover{
	opacity : 0.7;
}
