html{
	margin : 0 auto;
	max-width: 1280px;
	display: block;
}

body {
	margin: 0;
	min-height : 700px;
	max-width : 1280px;
}

.clear{
	clear : both;
	margin : 0;
}

.clear:after{
	content : "";
	display : block;
	clear : both;
}

.container {
	max-width: 1280px;
	max-height : 1653px;
	position : relative;
	margin : 0;
}

header {
	width: 100%;
	height: 135px;
	background: black;
}

.title_area {
	display: inline-block;
	float: left;
	margin : 2% 0 0 5%;
	width : 20%;
}

.nav_top {
  	display: inline-block;
  	width : 70%;
}

.nav_top li {
  	list-style: none;
	float: right;
	margin : 11% 0 0 8%;
}

.nav_top a {
	display: block;
	color: white;
	font-family: FootLight MT Light;
  	font-size: 24px;
	text-decoration: none;
}

.nav_top a:hover {
  	color : yellow;
  	text-decoration: none;
}

#main {
  	background: white;
    width : 100%;
}

.characters {
  padding : 3% 5% 0 5%;
  width : 90%;
  height: 600px;
}

.characters_title{
  margin-left: 400px;
  font-size: 70px;
  font-weight: bold;
}

.characters_img {
  float: left;
}

.characters_statement {
  float: left;
  margin-left: 40px;
}

.characters_statement h1{
  font-size: 45px;
}

.characters_statement p{
  font-size: 20px;
  width: 350px;
}

.characters_each {
  display: inline-block;
}

.characters_each img {
  margin-left: 50px;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  border-radius: 100px;
}

.round_btn{
	cursor : pointer;
	display : inline-block;
}

.characters_each img:hover{
	opacity : 0.7;
	width : 60%;
}

footer {
  	width: 100%;
  	height : 80px;
	margin: 3% 0 0 0;
	background-color: #E8E8E8;
}

.footer_p p {
	display: inline-block;
	color: #838db0;
	font-family: FootLight MT Light;
  	font-size: 16px;
  	line-height : 0px;
  	padding : 2% 0 1% 8%;
}

.footer_btn {
  	display: inline-block;
  	float : right;
  	padding : 2% 6% 1% 0;
  	width : 18%;
}

.footer_icon{
	margin : 0 0 0 10%;
	width : 16%;
}

.footer_icon:hover{
	opacity : 0.7;
}
