.login_main{
	min-height : 500px;
	background-image: url("../img/register_background.jpg");
	background-repeat: no-repeat;
	background-size : 100%;
	border-top : 1px solid white;
	border-bottom : 1px solid white;
}
h1{
	margin : 0;
}
.login_transparent > div{
	display : inline-block;
	line-height : 12px;
}
.login_transparent > p, .login_info > p{
	margin : 0;
	padding : 0;
}
.login_transparent{
	margin : 5% 25% 5% 25%;
	width : 50%;
	height : 90%;
	background-color : white;
	opacity : 0.6;
}
.login_title{
	text-align : center;
	font-size : 36px;
}
.login_info{
	width : 35%;
	display : inline-block;
}
.login_info_title{
	font-size : 18px;
	width : 60%;
	float : right;
	text-align : right;
	line-height : 36px;
}
.login_textbox{
	width : 48%;
	padding : 1% 0 1% 0;
	margin : 0 12% 0 0 ;
	float : right;
}
.login_input{
	display : inline-block;
	margin : 0 0 0 6%;
	padding : 0 3% 0 3%;
	width : 70%;
	line-height : 16px;
	border : 1px solid black;
	color : purple;
	font-weight : bold;
}
.login_input1{
	display : inline-block;
	margin : 0 0 0 5%;
	padding : 0 3% 0 3%;
	width : 30%;
	line-height : 22px;
	border : 1px solid black;
	color : purple;
	font-weight : bold;
}
input:focus{
	border : 2px solid green;
}
.login_button{
	margin : 2% 0 3% 30%;
	line-height : 20%;
	font-size : 16px;
	padding : 2% 2%;
	display : inline-block;
	cursor : pointer;
}
.login_submit{
	margin : 2% 30% 3% 50%;
	line-height : 20%;
	font-size : 16px;
	padding : 2% 2%;
	display : inline-block;
	cursor : pointer;

}
a{
	text-decoration : none;
	color : black;
}
.login_text{
	margin : 2% 0 2% 30%;
	font-size : 16px;
}
@media screen and (min-width: 1920px){
#login_main{
	min-height : 800px;
}
}