.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
}

@font-face {
    src: url(fonts/glyphicons-halflings-regular.eot) format("truetype");
}
*{
	box-sizing: initial; 
}
.banner_img {
	width : 100%;
	display : inline_block;
}

.banner{
	width : 100%;
}

.I_segment{
	width:100%; 
	height:500px; 
	background:#cccccc; 
	overflow:auto;
} 
.I_mainleft{
	width:60%; 
	height:500px; 
	background:transparent; 
	float:left; 
	text-align:center;
} 
.I_mainright{
	width:40%; 
	height:500px; 
	background:transparent; 
	float:left; 
	text-align:center; 
	padding:5%;
box-sizing:border-box;} 
.I_color{
	background: #DDDDDD;
}
.imgpos{
	padding:5%; 
	width:100%;
box-sizing:border-box;} 
.I_context{
	width:90%; 
	padding:5%;
} 
.I_contexttop{
	width:100%; 
	height:25%; 
	text-align:center;
} 
.I_contextbottom{
	width:100%; 
	height:25%;
} 
.I_contexttitle{
	font-size:40px;
} 
.I_contextp{
	font-size:20px; 
	display:inline-block;
} 
.I_morebutton{
	width:20%; 
	height:auto;
}